<mat-card class="custom-card">
  <mat-card-content>
    <h2 class="title">{{task.nombre}}</h2>
    <p class="description">
      {{task.descripcion}}
    </p>
  </mat-card-content>

  <mat-card-actions class="card-actions">
    <button *ngIf="task.finalizado" mat-button class="read-more">Concluida</button>
    <span class="spacer"></span>
    <button *ngIf="!task.finalizado" mat-icon-button>
      <mat-icon (click)="edit(task)">create</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon (click)="delete(task)">delete_sweep</mat-icon>
    </button>
    <button *ngIf="!task.finalizado" mat-icon-button>
      <mat-icon (click)="complete(task)">check</mat-icon>
    </button>
  </mat-card-actions>
  </mat-card>