<div class="container">
	<mat-card appearance="outlined" class="card-layout">
		<mat-card-header>
			<mat-card-title class="text-center">Lista de tareas</mat-card-title>
		</mat-card-header>
		<mat-card-content>

			<div *ngIf="selectedIndex >= 0" ng class="warning-container">
				<p>Registro en edición...</p>
			</div>

			<div class="row w-100 mt-2">
				<hr>
				<form [formGroup]="formTask">
					<div class="col-12">
						<mat-form-field appearance="outline" class="w-100">
							<mat-label>Nombre</mat-label>
							<mat-icon matIconPrefix>reorder</mat-icon>
							<input matInput formControlName="nombre">
							@if(formTask.get('nombre')?.hasError('required')){
							<mat-error>Este Campo es requerido</mat-error>
							}
							@if(formTask.get('nombre')?.hasError('minlength')){
							<mat-error>minimo de 5 caracteres</mat-error>
							}
							@if(formTask.get('nombre')?.hasError('maxlength')){
							<mat-error>maximo de 15 caracteres</mat-error>
							}
						</mat-form-field>
					</div>

					<div class="col-12">
						<mat-form-field appearance="outline" class="w-100">
							<mat-label>Descricpion de la tarea</mat-label>
							<mat-icon matIconPrefix>reorder</mat-icon>
							<textarea matInput formControlName="descripcion" rows="3"></textarea>
							@if(formTask.get('descripcion')?.hasError('required')){
							<mat-error>Este Campo es requerido</mat-error>
							}
							@if(formTask.get('descripcion')?.hasError('minlength')){
							<mat-error>minimo de 5 caracteres</mat-error>
							}
							@if(formTask.get('descripcion')?.hasError('maxlength')){
							<mat-error>maximo de 15 caracteres</mat-error>
							}
						</mat-form-field>
					</div>
				</form>
			</div>

			<button class="btn btn-primary btn-sm" matTooltip="Guardar tarea"
				(click)="save()"><mat-icon>save</mat-icon></button>
			@if(false){
			<button class="btn btn-warning btn-sm" matTooltip="Editar tarea"
				(click)="edit()"><mat-icon>edit</mat-icon></button>
			}
			<button class="btn btn-secondary btn-sm space" matTooltip="Cancelar"
				(click)="cancel()"><mat-icon>cancel</mat-icon></button>

			<hr>

			@if(todoList.length === 0){
			<div class="w-100 text-danger text-center">Sin tareas</div>
			}

			<ul class="list-group">
				@for(list of todoList; track list){
				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="ms-2 me-auto">
						<div class="fw-bold">
							<mat-checkbox (click)="checkmarkChanged(list.id)" [disabled]="selectedIndex>=0">
								<span [ngClass]="list.finalizado ? 'crossover' : ''">{{list.nombre}}</span>
							</mat-checkbox>
						</div>
						{{list.descripcion}}
					</div>
					@if(!list.finalizado){
						<span>
							<button class="btn btn-warning btn-sm"><mat-icon>edit</mat-icon></button>
							<button class="btn btn-danger btn-sm space"><mat-icon>restore_from_trash</mat-icon></button>
						</span>
					}
				</li>
				}
			</ul>
		</mat-card-content>
	</mat-card>
</div>